<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>java_project_3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminIndexServlet</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>admin.servlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesListServlet</display-name>
    <servlet-name>CategoriesListServlet</servlet-name>
    <servlet-class>admin.servlet.CategoriesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesListServlet</servlet-name>
    <url-pattern>/CategoriesListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesCreateServlet</display-name>
    <servlet-name>CategoriesCreateServlet</servlet-name>
    <servlet-class>admin.servlet.CategoriesCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesCreateServlet</servlet-name>
    <url-pattern>/CategoriesCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoiesEditServlet</display-name>
    <servlet-name>CategoiesEditServlet</servlet-name>
    <servlet-class>admin.servlet.CategoiesEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoiesEditServlet</servlet-name>
    <url-pattern>/CategoiesEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesDeleteServlet</display-name>
    <servlet-name>CategoriesDeleteServlet</servlet-name>
    <servlet-class>admin.servlet.CategoriesDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesDeleteServlet</servlet-name>
    <url-pattern>/CategoriesDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierListServlet</display-name>
    <servlet-name>SupplierListServlet</servlet-name>
    <servlet-class>admin.servlet.SupplierListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierListServlet</servlet-name>
    <url-pattern>/SupplierListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierCreateServlet</display-name>
    <servlet-name>SupplierCreateServlet</servlet-name>
    <servlet-class>admin.servlet.SupplierCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierCreateServlet</servlet-name>
    <url-pattern>/SupplierCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierEditServlet</display-name>
    <servlet-name>SupplierEditServlet</servlet-name>
    <servlet-class>admin.servlet.SupplierEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierEditServlet</servlet-name>
    <url-pattern>/SupplierEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierDeleteServlet</display-name>
    <servlet-name>SupplierDeleteServlet</servlet-name>
    <servlet-class>admin.servlet.SupplierDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierDeleteServlet</servlet-name>
    <url-pattern>/SupplierDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>